/* Start Footer */
.footer {
  width: 100%;
  background: var(--bg-main-color);
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Application logo */
.footer-logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-gap);
}
/* For footer menu-list */
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gap);
}
/* End Footer */
